<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>So you want to know when to go where...</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<a href="https://github.com/alex-seville/when-to-go-where" class="forkme"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
		<h1>When-to-go-Where!</h1>

		<div class="container">
		<div class="row">
		<div class="span3">
		<div class="criteria affix">
			<fieldset class="neutral">
				<legend>
					Filters
					<span class="resetFilters">(reset)</span>
				</legend>
			</fieldset>
			<fieldset class="off">
				<legend>Which region?</legend>
				<label>North America <input type="radio" name="radSide" value="north-america" /></label>
				<label>Central America <input type="radio" name="radSide" value="central-america" /></label>
				<label>South America <input type="radio" name="radSide" value="south-america" /></label>
				<label>Europe <input type="radio" name="radSide" value="europe" /></label>
				<label>Africa <input type="radio" name="radSide" value="africa" /></label>
				<label>Middle East <input type="radio" name="radSide" value="middle-east" /></label>
				<label>Asia <input type="radio" name="radSide" value="asia" /></label>
				<label>Australia <input type="radio" name="radSide" value="australia-oceana" /></label>
				<label>Antartica <input type="radio" name="radSide" value="antartica" /></label>			
			</fieldset>
			<fieldset class="off">
				<legend>Sun, snow, or rain?</legend>
				<label>Sun <input type="radio" name="radLogic" value="sun" /></label>
				<label>Snow <input type="radio" name="radLogic" value="snow" /></label>
				<label>Rain <input type="radio" name="radLogic" value="rain" /></label>			
			</fieldset>

		</div>
		</div>
		<div class="span9">
		<table class="destinations">
			<thead class="affix">
				<tr>
					<th class="dest-th">&nbsp;</th>
					<th><h2>J</h2></th><th><h2>F</h2></th><th><h2>M</h2></th>
					<th><h2>A</h2></th><th><h2>M</h2></th><th><h2>J</h2></th>
					<th><h2>J</h2></th><th><h2>A</h2></th><th><h2>S</h2></th>
					<th><h2>O</h2></th><th><h2>N</h2></th><th><h2>D</h2></th>
					<th class="info-th"><h2>info</h2></th>
				</tr>
			</thead>
			<tbody id="destList">
			</tbody>
		</table>
		</div>
		</div>
		</div>
	
		<script type="text/html" id="dest_tmpl">
		  <% for ( var i = 0; i < destinations.length; i++ ) { %>
		  	<% var dest = destinations[i]; %>
		  	<tr class="<%=dest.classes%>" style="
		  	<%= destGradient(dest.months) %>">
		  		<td title="<%=dest.name%>"><%=dest.name%></td>
		  		<% for (var j=0; j < 12;j++) { %>
		  			<td 
		  			<% if (dest.months[j]) {
		  				%> class="<%=dest.months[j]%>"
		  				title="<%=dest.months[j]%>">
		  			<%}%>
		  			&nbsp;
		  			</td>
		  		<% } %>
		  		<td class="info">
		  		<% var s = dest.sources ? dest.sources.length : 0; %>
		  		<% for (var k=0; k < s;k++) {%>
		  			<a target="_blank" href="<%=dest.sources[k]%>"><%=(k+1)%></a>
		  		<%}%>
		  		</td>
		    </tr>
		  <% } %>
		</script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="destinations.js"></script>
	<script src="microTemplating.js"></script>
	<script src="script.js"></script>
	<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=8270902; 
var sc_invisible=1; 
var sc_security="23210bea"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="tumblr
analytics" href="http://statcounter.com/tumblr/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/8270902/0/23210bea/1/"
alt="tumblr analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
</body>
</html>