
body {padding-top:40px;}
h1 {  text-align: center; font-size: 72px;margin-bottom:60px;  }
/*
fieldset { margin: 0px; padding: 0px; overflow: hidden; border: none; padding: 0px 10px 10px;  }
*/
legend { background-color: #eee; color: #666; padding: 5px;  cursor: pointer; }
legend  .resetFilters { font-size:12px;float:right; }
.on legend:before { content: "▼ "; }
.off legend:before { content: "▶ "; }
.on label { display: block; overflow: hidden; }
.off label { display: none; }
input { float: left; margin-right: 5px!important; margin-left: 5px!important;font-size: 40px; }

.forkme { display: block; position: absolute; top: 0; right: 0; border: 0; }
/*
.criteria { width: 300px; margin: 0 10px 10px 10px;  overflow: hidden; }
*/
.destinations { padding-top: 5px;width:700px;margin-bottom:80px;table-layout: fixed;  }
.destinations tr {width:700px;height:30px;display:block; }
.destinations th,td {text-align: center; width:40px;height:30px;}
.destinations thead {background-color:#eee;height:60px;}
.destinations tbody {display:block;margin-top:60px;}
.destinations tbody tr {background-color:#eee;background-position:120px 0;background-size:480px 30px;background-repeat:no-repeat; }
.destinations tbody td:first-child {background-color:#eee;width:120px;cursor: pointer;}
.destinations thead th:first-child {width:120px;}
.destinations thead th:last-child {width:100px;}
.destinations tbody td:last-child {background-color:#eee;text-align: center;width:100px; }

/*.destinations .cold { background-color: #f3f6f7;}
.destinations .hot { background-color: #F2DEDE;}
.destinations .good { background-color: #DFF0D8;}
.destinations .rainy { background-color: #d5e1fd;}
.destinations .dry { background-color: #FCF8E3;}*/
.destinations .high-season {
    content:"<i class='icon-circle-arrow-up icon-white'></i>";
}
.destinations .low-season {
    content:"<i class='icon-circle-arrow-down'></i>";
}
.destinations a,
.destinations span { font-family: helvetica, arial, sans-serif; color: #ccc; font-size: 16px; }
.destinations span { font-size: 14px; color: #666; }
.destinations a:hover { color: #fff; }

.popup {height:253px;display:block;}
.popover-content {height:200px;width:200px;}
.popover-title {text-align: center;}


